.fondo{
    background-color: burlywood;
}

.titulo{
    font-size: 2.5em;
    color: steelblue;
}
.subtitulo{
    font-size: 2em;
    color: saddlebrown;
}

.cards{
    border: solid,1px,black;
    width: 8em;
    height: 8em;
    padding: 1em, 1em, 2em, 1em;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.cards:hover{
    background-color: navy;
    transition: 1s;
}

.logo{
    width: 50px;
    height: 50px;
}



#titulos {
    border: 2px, solid, black;
    width: 65vw;
    margin:auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cards-conteiner{
    background-color: blueviolet;
    width: 85%;
    margin:auto;
    margin-top: 1.5em;
    border: solid,2px,black;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
}