.fondo{
    background-color: burlywood;
}

.titulo{
    font-size: 2.5em;
    color: steelblue;
}
.subtitulo{
    font-size: 2em;
    color: saddlebrown;
}


.logo{
    size: 1em;
}

#titulos {
    border: 2px, solid, black;
    width: 65vw;
    margin:auto;
    padding: 1em;
}